# Backend API .env example
DATABASE_URL=postgresql://pulse_user:aishu@localhost:5432/pulsepoint
JWT_SECRET=JX{1Kx)|%VN6P5FS,Z;14sw>FG.&tI$LcdD<;U3P]Ax
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
API_PORT=8000
API_HOST=0.0.0.0
